:root{
--primary-color: #f1f5f7;
--secondary-color: #2ecc71;
--tertiary-color: #153046;
--text-color: #333;
}


body {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
height: 100dvh; 
background: url(city_trivia.png);
background-size: cover;
background-position: fixed;
}

.box{
    text-align: left; 
    color: black;
    background-color: rgba(253, 255, 255, 0.952);  
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 700px;   
    width: 90%;         
    padding: 30px; 
}

.title {
    color: var(--tertiary-color);
    font-size: 2.5px;
    margin-bottom: 20px;
}

.subtitle {
    color: var(--text-color);
    margin: 20px 0;
}

.field .label {
    font-weight: bold;
    margin-bottom: 5px;
    color : var(--tertiary-color);
}

.field .control {
    padding: 5px 0;
}

.control ::placeholder {
    color: var(--primary-color);
}

.dropdown .button{
    background-color: rgba(82, 129, 129, 0.952);
    color: var(--primary-color);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
}

.dropdown .button:hover {
    background-color: rgba(118, 164, 164, 0.8);
}

.dropdown-item:hover {
    background-color: rgba(91, 218, 218, 0.8);
    
}