:root{
--primary-color: #f1f5f7;
--secondary-color: #2ecc71;
--tertiary-color: #153046;
--text-color: #333;
}
html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(city.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    text-align: center;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

#fondo{
    width: 100%;
}

#menu_img{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    
}

.clickable-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    max-width: 190px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 15px;
    text-decoration: none;
    background-color: #567f85;
    color: #f1f5f7;
}
.card-content .title {
    color: white; 
}

.clickable-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.navbar.is-transparent {
    background-color: transparent ;
}

.navbar.is-transparent .navbar-item,
.navbar.is-transparent .navbar-link,
.navbar.is-transparent .navbar-brand .title 
.navbar.is-transparent .navbar-dropdown .navbar-item{
    color: var(--primary-color);
}